 html {
    padding: 0;
    margin: 0;
    background-color: #868686;
    color: #323232;
    background-image: url('bg.png');
}

body {
    font-weight: 400;
    font-family: 'EB Garamond', serif;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

.wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.identity {
    font-size: 32px;
    width: 23em;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px #FFFFFF;
    background-color: #f9f9ef;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    box-shadow: 0px 5px 10px #525252;
    padding: 1.2em;
    padding-top: 1.4em;
    position: relative;
    border-radius: 2px;
    background-image: url('ayns.png');
    text-align: center;
}

.contact {
    float: left;
    margin-bottom: 2.2em;
}

.affiliation {
    float: right;
    font-size: 0.9em;
    text-align: right;
    margin-bottom: 2.2em;
}

.affiliation .descriptor {
    font-size: 0.6em;
    text-align: right;
    margin-top: -0.5em;
}

.fullname {
    clear: both;
    text-align: center;
}

.resume {
    text-align: center;
    margin-bottom: 3.5em;
}

.resume a {
    text-decoration: none;
    color: #323232;
    font-weight: 400;
}

.resume a:hover {
    text-decoration: underline;
}

.details {
    font-size: 0.7em;
    text-align: center;
}

.details a {
    text-decoration: none;
    color: #323232;
    font-weight: 400;
}

.details a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 4em;
    text-align: center;
}

@media all and (max-width: 600px) {
    .identity {
        font-size: 13px;
    }
}
