body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.resume-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
iframe {
    width: 80%;
    height: 85vh;
    border: none;
}
.download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.download-btn:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    iframe {
        width: 95%;
        height: 60vh;
    }
}
